@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;700;800&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    color:white;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: violet;
    padding: 25px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-left: 20px;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active{
    color: rgb(17, 0, 255);
}

